{% extends 'base.html' %}
{% block content %}

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Jiong Jiet 
                <span class="text-primary">Chan</span>
            </h1>
            <div class="subheading mb-3">
                KUALA LUMPUR · MALAYSIA · (+60) 12-6539-329 ·
                <a href="mailto:cjj8168@gmail.com" target="_blank">cjj8168@gmail.com</a>
            </div>
            

            <p class="lead mb-5">
                <!-- I was also exposed to web development and involved in a project to build a learning management system (LMS) mobile application using Flutter. <br> -->
                <strong>I</strong> am fascinated by the fast-changing technology and the way it is transforming our life. 
                There are a few turning points in life that led to a change in my career path. I was intrigued by the predictive power of machine learning during my uni times, 
                when I was exposed to a lot of statistics in the psychology literature. I started working and I was assigned to manage comapany's website and 
                social media platforms. At some point, I made the decision to fully focus on learning Data science, machine learning and programming. 
                I identify myself as a self-taught programmer and am currently seeking opportunities in Data Science, Machine Learning relevant jobs. 
                <!-- Learning everyday to decipher the blackbox, the more I learn the more I feel empowered yet limited. -->
            </p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/chan-jiong-jiet/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/cjj1120" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://www.kaggle.com/jiongjiet" target="_blank"><i class="fab fa-kaggle"></i></a>
                <a class="social-icon" href="https://twitter.com/JiongJiet" target="_blank"><i class="fab fa-twitter"></i></a>
                <!-- <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a> -->
                <!-- <a class="social-icon" href=""><i class="fab fa-instagram"></i></a> -->
                
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-2">Experience</h2>
            <p class="mb-5">The below section lists down my experiences in the tech world, for my study background and other working experiences please refer to my <a href="https://www.linkedin.com/in/chan-jiong-jiet/">LinkedIn</a>  profile.</p>
            
        <!-- New section can uncomment and use code block below -->
            
            <!-- Separate work/project experience AND courses/ certificates
            add Dphi Explainable AI Bootcamp 
            add CAIP cert  -->

        <!-- <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">OMDENA
                    </h3>
                    <div class="subheading mb-3">Open-source ML/AI project task leader & contributor</div>
                    <P>Malaysia chapter topic: Crop classification and yield prediction, joined as a contributor for the task group crop yield prediction, and was responsible mainly for data collection, data cleaning and EDA. 
                        <br> <br>
                        Singapore chapter topic: Covid impact on mental health, joined as task leader for twitter group. Lead the team for data scrapping, data preprocessing (tweet lemmatization), feature extraction (TF-IDF, Bag of Words, LDA topic modelling), and analyze with sentiment analysis, empath analysis. Lastly collaborate with other teams for tasks output integration and deployment.  
                    </P>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2021 - PRESENT</span></div>
            </div> -->



            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">MACHINE LEARNING Bookcamp & Zoomcamp (In progress)</h3>

                    <div class="subheading mb-3">Course by Alexey Grigorev</div>
                    <P>
                        I have learned a lot and am still learning from Alexy! 
                        I have learned ML Ops, such as managing dependencies, dockerizing the model and deploying the model to cloud platforms.
                        Currently, on week 8, I will be learning Serverless deployment using AWS. 
                        Together with peers that share similar interest,
                        we often have interesting dicsussion in the slack channel that I think had helped me to understand various topics 
                        at a deeper level. 
                        <br>
                        Alexey offers not just an amazing zoomcamp, but also a passionate and welcoming community!!
                        <br>   <br>
                       
                        View the course on Github repo <a href="https://github.com/alexeygrigorev/mlbookcamp-code/tree/master/course-zoomcamp"  target="_blank">here.  </a>  
                        <br> 
                        View Alexey's book [Machine Learning Bookcamp], published by Manning Publication <a href="https://www.manning.com/books/machine-learning-bookcamp"  target="_blank">here.  </a>  
                    </P>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">AI Dev Trainee (In progress)</h3>

                    <div class="subheading mb-3">Innates PLT </div>
                    <P>
                        Undergoing CAIP (Certified Artificial Intelligence Practitioner) and CDLE (Certified
                        Deep learning Engineer) certificates by Beyond 4 (training provider).
                        <ul>
                            <li>Implemented Face detection and recognition model in Java, Android. Face detection 
                                was implemented with TensorFlow ML Kit and facial identification was implemented with
                                Tensorflow Lite API, with a pretrained mobile facenet neural network. </li>

                            <li>Completed a transfer learning project for multi classification problem with VGG16 model.
                        Hyperparameter tuning done in python and implemented the final model in Java with DL4J.</li>
                        </ul>
                    </P>
                </div>

                <div class="flex-shrink-0"><span class="text-primary">October 2021 - PRESENT</span></div>
            </div>
            
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Data Scientist Professional Certificate            </h3>
                    <div class="subheading mb-3">Datacamp</div>
                    <p>This challenge consists of three main stages. First stage is timed skill assessments, at this stage, I was tested on Data Science fundamental tools and concepts. For instance programming, statistics and data analysis in SQL. The second stage is the coding challenge, in which I need to apply data science skills (data cleaning, data manipulation, data visualization etc..) to complete a project that aims to solve real-world problem. 
                    <br> <br>
                    I’ve learned the most at the last stage- case study. I had to prepare a solution for a real-world issue and present to non-tech audiences within 24 hours. Throughout my learning, I've been exposed to and used many technical terms, and to translate them to non-tech audiences requires an in-depth level of understanding of the topics. This deepened my understanding of some of the ML topics, and reminded me to be more problem-centric for my future projects. Ultimately, the goal of a ML model is to solve real-world issues. 
                    </p>
                    Certificate: 
                    View the certificate by clicking on this <a href="{{ url_for('static', filename='assets/img/Datacamp.png')}}"  target="_blank">link.  </a>  
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2021 - September 2023</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Open-source ML&AI contributor
                    </h3>
                    <div class="subheading mb-3">Omdena</div>
                    <P>
                    <b>   Singapore Project: Exploring the Impact of Covid-19 on Mental Health in Singapore </b> <br>
                    Role: Task leader for the Twitter group <br>
                    Lessons learned and experience: <br><br>
                    This is my first end-to-end Data Science project, with a goal that aims to contribute for social good. I lead the team throughout the whole project cycle from data scraping, data preprocessing, feature extraction, exploratory data analysis, and finally worked with other teams for dashboard deployment. 
                    <br><br>
                    This NLP project allowed me to learn most of the fundamental steps in NLP, and some of the core topics in NLP. I’ve learned about text data lemmatization, TF-IDF, Bag of Words, LDA topic modelling etc… It was a great experience working with people around the world and collaborating together. It was also a challenging yet fruitful learning process! Below are the outcomes of the project:
                    <br><br>
                    Medium article: <a href="https://medium.com/@cjj8168/exploring-the-impact-of-covid-19-on-mental-health-in-singapore-df68eae38309" target="_blank">Link</a>, This article is co-written by Chan Jiong Jiet (ME) and my teammates: Claudia Chan, Tan Jamie and Jerome Yue. 
                    <br>
                    Tableau dashboard: <a href="https://public.tableau.com/app/profile/claudia.chan/viz/OmdenaFinalv2/Dashboard3?publish=yes" target="_blank">Dashboard Link</a>
                    <br>
                    Certification: <a href="{{ url_for('static', filename='assets/img/Omdena-Sin.png')}}"  target="_blank">Certificate link</a>
                    
                    <br><br> <b> <hr>
                    Malaysia Project:  Improving food security and crop yield in Malaysia using ML</b>  <br>
                    Role: Contributor for crop yield group <br>
                    Lessons learned and experience:  <br> <br>
                    I was responsible for data collection, data preprocessing and EDA. This allowed me to practice my data science fundamental skills. It was difficult to gather the weather data and other relevant data for the task group, we worked together across different teams for data collection. This is my second experience in an end-to-end Data Science project. In the end, we were able to come up with a model with high accuracy and deployed the project using Flask. 
                    <br><br>
                    Certification: <a href="{{ url_for('static', filename='assets/img/Omdena-My.png')}}"  target="_blank">Certificate link</a>


                        
                    </P>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2021 - August 2021</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Machine Learning</h3>
                    <div class="subheading mb-3">FUN MOOC- Machine learning in python with scikit-learn</div>
                    <p>Dived deep into machine learning, been reading a lot and learning intensively. The Scikit-learn module emphasized heavily 
                        on practical coding and has effectively helped in implementing the codes and understand tough concepts like hyperparameter tuning.
                       boosting vs bagging and ensemble learning.   
                       <br> <br>
                       This course has helped me to understand many high level machine learning concepts and get my hands dirty on every notebook exercises I have done.
                       The course was designed by the core developers of Scikit-learn library which has really helped to get a solid head start on my Machine learning journry. 
                    </p>
                    Certificate: Machine learning in python with scikit-learn by Scikit-learn core developers. <br>
                    View the certificate by clicking on this <a href="{{ url_for('static', filename='assets/img/Fun.PNG')}}"  target="_blank">link.  </a>  
                </div>
                <div class="flex-shrink-0"><span class="text-primary">April 2021 - June 2021</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Microsoft Azure certificate</h3>
                    <div class="subheading mb-3">Microsoft Virtual Training </div>
                    <p>For Azure AI 900: <br> Learned about Azure cloud and how to implement Artificial intelligence on cloud. I’ve benefited from the top-down approach design of the course. Learned about actual implementation of machine learning, computer vision workloads, Natural Language Processing (NLP) workloads and features of conversational AI workloads on Azure.
                    </p>
                    
                    <p>For Azure DP 900: <br> Unlike AI 900 which I have prior knowledge, DP 900 was much tougher as I have to learn many databases concepts and data workloads.
                        Core topics that I have learned are how to work with relational data on Azure; how to work with non-relational data on Azure; and an analytics workload on Azure which includes Power BI    </p> 
                    <p>After months of learning Machine Learning with python, I was surprised how the work can be easily done on cloud platform, actual deployment can be made simple and faster with cloud platform like Azure. Below are the certificates that I have acquired and links to verify them:</p>
                    <ul>
                        <li>Microsoft Certified: AI-900 Azure AI Fundamentals · Credential URL: <a href="https://www.credly.com/badges/c72dad4f-3e56-43b8-ad99-16ba7b381db3/public_url">Credly Link</a> </li>
                        <li>Microsoft Certified: DP-900 Azure Data Fundamentals · Credential URL: <a href="https://www.credly.com/badges/08b8ae98-8b91-4b90-8d77-70d46ee4689c/public_url">Credly Link</a> </li>
                    </ul>              
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2021</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Python specialize courses </h3>
                    <div class="subheading mb-3">Coursera</div>
                    <p>After completing these courses, I was able to play around with API and do some simple analysis. I have also written a simple script that uses Scrapy web crawler to automate tasks.</p>
                    <ul>
                        <li>Using Python to Access Web Data by University of Michigan. Verify at coursera.org/verify/QJXHXTRLA6EM. </li>
                        <li>Python Data Structures by University of Michigan. Verify at coursera.org/verify/MCKQ9L3V95XM. </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">October 2020 - December 2020</span></div>
            </div>
            
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">DeepLearning.AI                     </h3>
                    
                    <div class="subheading mb-3">Coursera</div>
                    <P>
                        Course by Andrew Ng. Learned about basics of deep learning and built shallow and deep network, also learned about important concepts like forward and backward propagation. <br>
                        Certificate: 
                        
                    </P>
                    <ul>
                        <li>Neural Networks and Deep Learning by Andrew Ng (DeepLearning.AI). Verify at coursera.org/verify/7KSTVPFEAGJN </li>
                        
                    </ul>
                    
                </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2021</span></div>
            
            </div>
            
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Data Science courses</h3>
                    <div class="subheading mb-3">Coursera</div>
                    <p>I beginned learning programming in year 2019, statistics courses at my university intrigued me to explore more on programming, below are some of the courses I took during my sem break when I was having my internship.</p>
                    <ul>
                        <li>The Data Scientist’s Toolbox by Johns Hopkins University. Verify at coursera.org/verify/9UYQUQ</li>
                        <li>SQL for Data Scien by University of California. Verify at coursera.org/verify/JX2G</li>
                        <li>R Programming by Johns Hopkins University. Verify at coursera.org/verify/TB7C5KUETF4V</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2019 - August 2019</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Git jobs</h3>
                    <div class="subheading mb-3"></div>
                    <p>Previous employer had offered me web and mobile app git which allowed me to further explore different branches of programming and learn a new language. </p>
                    <ul>
                        <li>Website interface upgrade and content management using Wordpress, responsible for updating the content. 
                            Worked with professional UI/UX designer to create new pages for the website as well. Here's the <a href="https://fitin.edu.my/">link</a> to the webstie.</li>
                        <li>Website migration, migrating a blogger website to wordpress platform and changing domain.</li>
                        <li>Mobile app UI/UX, worked on a Learning management system using Flutter to change interface of the mobile app</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2021 - April 2021</span></div>
            </div> 

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5"> 
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Design Basics by Todd McLeod</h3>
                    <div class="subheading mb-3">Udemy</div>
                    <p>Learn to create a website and acquire an outstanding foundation in the fundamentals of web programming. 
                        I've built a static website for a small business after completing the course. 
                        The company is in the industry of electrical contractor, that aims to provide a basic overview of the company on the <a href="https://annexelectrical.000webhostapp.com/" target="_blank">website</a>. 

                        <br> <br>
                        This course has helped me to build up a solid foudnation for front end web development, 
                        I was able to use the skill to help my previous employer on managing the UI of the company's website and also implemented and deployed
                        a few static websties (including this portfolio website) with templates available online. 
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July 2020 - May 2020</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0"> Project management course 
                    </h3>
                    <div class="subheading mb-3">Course by 365 Careers and Malaysia HRDcorp</div>
                    <p>
                        This course provides fundamental knowledge about project management and project lifecycle. 
                        I have learned about the four major phases of the project life cycle (Initiation, planning, 
                        execution and closure stage) and also the triple constraints (time, cost and scope) 
                        in carrying out a project. 
                        <br>
                        <br>
                        Certification: Here's the <a href="{{ url_for('static', filename='assets/img/PM Cert.PNG')}}"  target="_blank">link.  </a> to view the certificate in image form. 
                
                    </P>
                </div> 
                <div class="flex-shrink-0"><span class="text-primary">March 2021 - May 2021</span></div>
            </div>

        </div>
    </section>
    <hr class="m-0" />
    
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-python"></i></li>
                <li class="list-inline-item"><i class="fas fa-flask"></i></li>
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fas fa-database"></i></li>
                <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
       
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Critical thinker
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Problem solver
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Project management and Agile workflow knowledge 
                </li>

            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>I developed interest in programming when I was taking statistics course back in uni, I took beginner course for Data science and started my programming journey. After my graduation, I started to learn web development and I’ve built static websites with templates available online. When I started working I was exposed to mobile app development and got the chance to maintain and upgrade a wordpress website. </p>

            <p class="mb-0">As I dived deeper into programming I developed interest in the more advanced topics like Machine Learning, Artificial Intelligence and Deep learning. I’m currently taking Maths course to better understand the algorithm. I am also actively involved in open source projects and Kaggle competitions to sharpen my skill.</p>                                                                                           

        </div>
    </section>
    <hr class="m-0" />


</div>

{% endblock %}

@ Copyright: Template by John Elder